@import "./variables.module.scss";

@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

.container {
  flex-direction: column;
  width: 480px;
  height: 320px;
  border: 1px solid $white;
  justify-content: center;
  align-items: center;
  font-family: 'Codystar';
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.row {
  flex-direction: row;
  width: 100%;
}

.clock_wrap {
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  display: flex;
}