@import "./variables.module.scss";

.container {
  flex-direction: column;
  width: 480px;
  height: 320px;
  justify-content: center;
  display: flex;
  font-family: 'Roboto';
  background-color: $black;
  padding:0;
  margin:0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.row {
  flex-direction: row;
  width: 100%;
}

.clock_wrap {
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  display: flex;
}