@import './variables.module.scss';

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.money p {
    text-align: center;
    font-size: 80px;
    padding: 0;
    margin: 0;
    color: $main;
    line-height: 1;
}

.money {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.money b {
    color: grey;
    text-align: center;
}